<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
    <ion-back-button 
    defaultHref="/home">
    </ion-back-button>
  </ion-buttons>
    <ion-title>Eventos</ion-title>
    <ion-icon name="calendar-outline" color="light" slot="end" size="large" style="margin-right: 5%;"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button detail="true">
      <ion-label>
        <h2>Concierto de Música Clásica</h2>
        <p>Fecha: 2023-10-15</p>
        <p>Hora: 08:00 PM</p>
        <p>Ubicación: DUOC UC sede Maipú</p>
      </ion-label>
    </ion-item>

    <ion-item button detail="true">
      <ion-label>
        <h2>Expo Tecnología 2023</h2>
        <p>Fecha: 2023-11-20</p>
        <p>Hora: 10:00 AM</p>
        <p>Ubicación: Sede San Carlos de Apoquindo</p>
      </ion-label>
    </ion-item>

    <ion-item button detail="true">
      <ion-label>
        <h2>Festival de Innovación</h2>
        <p>Fecha: 2023-11-22</p>
        <p>Hora: 11:00 AM</p>
        <p>Ubicación: Sede Antonio Varas</p>
      </ion-label>
    </ion-item>

    <ion-item button detail="true">
      <ion-label>
        <h2>Seminario de Emprendimiento</h2>
        <p>Fecha: 2023-11-25</p>
        <p>Hora: 02:00 PM</p>
        <p>Ubicación: Sede Alameda</p>
      </ion-label>
    </ion-item>

    <ion-item button detail="true">
      <ion-label>
        <h2>Concierto de Música Clásica</h2>
        <p>Fecha: 2023-11-28</p>
        <p>Hora: 06:00 PM</p>
        <p>Ubicación: Sede Viña del Mar</p>
      </ion-label>
    </ion-item>

    <ion-item button detail="true">
      <ion-label>
        <h2>Jornada de Puertas Abiertas</h2>
        <p>Fecha: 2023-12-01</p>
        <p>Hora: 09:00 AM</p>
        <p>Ubicación: Sede Puente Alto</p>
      </ion-label>
    </ion-item>

    <ion-item button detail="true">
      <ion-label>
        <h2>Taller de Fotografía</h2>
        <p>Fecha: 2023-12-03</p>
        <p>Hora: 10:30 AM</p>
        <p>Ubicación: Sede Maipú</p>
      </ion-label>
    </ion-item>

    <ion-item button detail="true">
      <ion-label>
        <h2>Charla sobre Sostenibilidad Ambiental</h2>
        <p>Fecha: 2023-12-05</p>
        <p>Hora: 03:00 PM</p>
        <p>Ubicación: Sede Concepción</p>
      </ion-label>
    </ion-item>

    <ion-item button detail="true">
      <ion-label>
        <h2>Workshop de Realidad Virtual</h2>
        <p>Fecha: 2023-12-08</p>
        <p>Hora: 04:00 PM</p>
        <p>Ubicación: Sede Valparaíso</p>
      </ion-label>
    </ion-item>

    <ion-item button detail="true">
      <ion-label>
        <h2>Conferencia de Inteligencia Artificial</h2>
        <p>Fecha: 2023-12-10</p>
        <p>Hora: 11:00 AM</p>
        <p>Ubicación: Sede Plaza Vespucio</p>
      </ion-label>
    </ion-item>
    
    <ion-item button detail="true">
      <ion-label>
        <h2>Feria de Ciencia y Tecnología</h2>
        <p>Fecha: 2023-12-12</p>
        <p>Hora: 02:00 PM</p>
        <p>Ubicación: Sede Plaza Oeste</p>
      </ion-label>
    </ion-item>
    
  </ion-list>
</ion-content>
