<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
    <ion-back-button 
    defaultHref="/">
    </ion-back-button>
  </ion-buttons>
    <ion-title>Seminarios</ion-title>
    <ion-icon name="chatbubbles-outline" color="light" slot="end" size="large" style="margin-right: 5%;"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button detail="true">
      <ion-label>
        <h2>Seminario de Inteligencia Artificial</h2>
        <p>Fecha: 2023-10-10</p>
        <p>Hora: 02:00 PM</p>
        <p>Ubicación: Auditorio Principal</p>
      </ion-label>
    </ion-item>

    <ion-item button detail="true">
      <ion-label>
        <h2>Tecnología y Educación</h2>
        <p>Fecha: 2023-11-06</p>
        <p>Hora: 12:00 PM</p>
        <p>Ubicación: Auditorio B</p>
      </ion-label>
    </ion-item>

    <ion-item button detail="true">
      <ion-label>
        <h2>Innovaciones en Agricultura</h2>
        <p>Fecha: 2023-11-07</p>
        <p>Hora: 03:00 PM</p>
        <p>Ubicación: Sala C</p>
      </ion-label>
    </ion-item>

    <ion-item button detail="true">
      <ion-label>
        <h2>Blockchain y sus Aplicaciones</h2>
        <p>Fecha: 2023-11-08</p>
        <p>Hora: 09:00 AM</p>
        <p>Ubicación: Sala D</p>
      </ion-label>
    </ion-item>

    <ion-item button detail="true">
      <ion-label>
        <h2>Inteligencia Artificial en Salud</h2>
        <p>Fecha: 2023-11-09</p>
        <p>Hora: 11:00 AM</p>
        <p>Ubicación: Sala E</p>
      </ion-label>
    </ion-item>

    <ion-item button detail="true">
      <ion-label>
        <h2>Marketing Digital para Startups</h2>
        <p>Fecha: 2023-11-10</p>
        <p>Hora: 04:00 PM</p>
        <p>Ubicación: Sala F</p>
      </ion-label>
    </ion-item>

    <ion-item button detail="true">
      <ion-label>
        <h2>Ciencia de Datos y Análisis Predictivo</h2>
        <p>Fecha: 2023-11-11</p>
        <p>Hora: 02:00 PM</p>
        <p>Ubicación: Sala G</p>
      </ion-label>
    </ion-item>

    <ion-item button detail="true">
      <ion-label>
        <h2>Seminario de Robótica Educativa</h2>
        <p>Fecha: 2023-11-12</p>
        <p>Hora: 05:00 PM</p>
        <p>Ubicación: Sala H</p>
      </ion-label>
    </ion-item>

    <ion-item button detail="true">
      <ion-label>
        <h2>Diseño Sustentable y Arquitectura</h2>
        <p>Fecha: 2023-11-13</p>
        <p>Hora: 10:00 AM</p>
        <p>Ubicación: Sala I</p>
      </ion-label>
    </ion-item>
    
    <ion-item button detail="true">
      <ion-label>
        <h2>Avances en Energías Renovables</h2>
        <p>Fecha: 2023-11-14</p>
        <p>Hora: 01:00 PM</p>
        <p>Ubicación: Sala J</p>
      </ion-label>
    </ion-item>
    
  </ion-list>
</ion-content>
