<ion-content>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button 
             defaultHref="/tabs/home">
        </ion-back-button>
      </ion-buttons>
      <ion-title>Escanear QR</ion-title>
      <ion-icon name="qr-code-outline" color="light" slot="end" size="large" style="margin-right: 5%;"></ion-icon>
    </ion-toolbar>
  </ion-header>
  
  <ion-content >
    <div class="qr">
      <ion-img src="assets/camara.jpeg"></ion-img>
    </div>
  
    <div>
      <ion-toolbar>
        <ion-button color="primary">Escanear</ion-button>
        <ion-button color="tertiary">subir imagen</ion-button>
      </ion-toolbar>
    </div>
  </ion-content>
