/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";


.sinfondo {
    /*dejar las imagen sin fondo blanco*/
    background-color: transparent; /* Fondo deseado */
    mix-blend-mode: multiply; /* Modo de mezcla para eliminar el blanco */
 }

 .logo{
  
    width: 130px; /* Define el ancho deseado */
    height: 100px; /* Define la altura deseada */

 }


 :root {
    // Colores personalizados
    --ion-color-primary: #004643;
    --ion-color-secondary: #ABD1C6;
    --ion-color-tertiary: #F9BC60;
    --ion-color-danger: #E16162;
    --ion-color-light: #EFF0F3;
    --ion-color-dark: #004643;
  
  

    // Textos
    --ion-text-color: var(--ion-color-primary);
  }

  ion-tab-bar {
    --background: var(--ion-color-light);
  }
  
  ion-tab-button {
    --color: var(--ion-color-primary);
    --color-selected: var(--ion-color-tertiary);
  }

  ion-card {
    background-color:light;
    border-radius: 16px;
    padding: 16px;
    box-shadow: 3 4px 8px rgba(0, 0, 0, 1);
    margin: 16px 0;
  }

  ion-button {
    border-radius: 24px;  /* Redondear los bordes */
    display: block;     /* Asegura que el botón ocupe todo el ancho */
    width: 100%; 
  }

  ion-label {
    font-size: 12px;  /* Ajusta el tamaño de las etiquetas de los formularios */
  }

  ion-item{
    font-size: 12px;  /* Ajusta el tamaño de las etiquetas de los formularios */
  }

/* Ajustar el estilo del ion-input */
ion-input {
  font-size: 14px; /* Ajusta el tamaño de la fuente */
  --padding-start: 0px; /* Elimina el padding adicional */
  --padding-end: 0px;
}


ion-content {
  overflow-y:hidden;  /* Deshabilita el scroll vertical */
}

  

  

