<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button 
        defaultHref="/"
        text=""
        color="light">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Registrar seminario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Formulario de Seminario</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-label>Título del Seminario: </ion-label>
          <ion-input [(ngModel)]="seminario.titulo" name="titulo" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Descripción del seminario: </ion-label>
          <ion-input [(ngModel)]="seminario.descripcion" name="descripcion" required></ion-input>
        </ion-item>
        <ion-button expand="full" type="submit">Registrar</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
