<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
    <ion-back-button 
    defaultHref="/home">
    </ion-back-button>
  </ion-buttons>
    <ion-title>Actividades</ion-title>
    <ion-icon name="newspaper-outline" color="light" slot="end" size="large" style="margin-right: 5%;"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button detail="true">
      <ion-label>
        <h2>Taller de Desarrollo Web</h2>
        <p>Fecha: 2023-10-05</p>
        <p>Hora: 10:00 AM</p>
        <p>Ubicación: Aula 302</p>
      </ion-label>
    </ion-item>
  
    <ion-item button detail="true">
      <ion-label>
        <h2>Taller de Python</h2>
        <p>Fecha: 2023-10-06</p>
        <p>Hora: 11:00 AM</p>
        <p>Ubicación: Aula 204</p>
      </ion-label>
    </ion-item>

    <ion-item button detail="true">
      <ion-label>
        <h2>Seminario de Robótica</h2>
        <p>Fecha: 2023-10-07</p>
        <p>Hora: 09:00 AM</p>
        <p>Ubicación: Laboratorio de Ingeniería</p>
      </ion-label>
    </ion-item>

    <ion-item button detail="true">
      <ion-label>
        <h2>Conferencia sobre Blockchain</h2>
        <p>Fecha: 2023-10-08</p>
        <p>Hora: 02:00 PM</p>
        <p>Ubicación: Auditorio Central</p>
      </ion-label>
    </ion-item>

    <ion-item button detail="true">
      <ion-label>
        <h2>Workshop de UI/UX</h2>
        <p>Fecha: 2023-10-09</p>
        <p>Hora: 04:00 PM</p>
        <p>Ubicación: Aula 501</p>
      </ion-label>
    </ion-item>

    <ion-item button detail="true">
      <ion-label>
        <h2>Curso Intensivo de Inglés</h2>
        <p>Fecha: 2023-10-10</p>
        <p>Hora: 08:00 AM</p>
        <p>Ubicación: Aula 107</p>
      </ion-label>
    </ion-item>

    <ion-item button detail="true">
      <ion-label>
        <h2>Curso de Fotografía</h2>
        <p>Fecha: 2023-10-11</p>
        <p>Hora: 10:30 AM</p>
        <p>Ubicación: Aula 305</p>
      </ion-label>
    </ion-item>

    <ion-item button detail="true">
      <ion-label>
        <h2>Charla sobre Sostenibilidad</h2>
        <p>Fecha: 2023-10-12</p>
        <p>Hora: 03:00 PM</p>
        <p>Ubicación: Aula Verde</p>
      </ion-label>
    </ion-item>

    <ion-item button detail="true">
      <ion-label>
        <h2>Taller de Carpintería Creativa</h2>
        <p>Fecha: 2023-10-13</p>
        <p>Hora: 05:00 PM</p>
        <p>Ubicación: Taller de Artes</p>
      </ion-label>
    </ion-item>

    <ion-item button detail="true">
      <ion-label>
        <h2>Seminario de Nutrición</h2>
        <p>Fecha: 2023-10-14</p>
        <p>Hora: 12:00 PM</p>
        <p>Ubicación: Salón de Salud</p>
      </ion-label>
    </ion-item>
    
    <ion-item button detail="true">
      <ion-label>
        <h2>Clase de Yoga al Aire Libre</h2>
        <p>Fecha: 2023-10-15</p>
        <p>Hora: 07:00 AM</p>
        <p>Ubicación: Jardines del Campus</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
